@mixin h1-style() {
  //color: $highlight-color;
  //margin-bottom: 20px;
  font-family: 'montserratregular', 'helvetica', sans-serif;
  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}


@mixin h1-style-small() {
  @include h1-style();
  font-size: 20px;
}


@mixin h2-style() {
  @include h1-style();
  font-size: 22px;
}


@mixin h2-style-small() {
  @include h2-style();
  font-size: 18px;
}


@mixin h2-style-docs() {
  //background-color: silver;
  color: rgba($primary-color, 0.5);
  padding: 4px 0 8px 0;
  font-size: responsive 16px 18px;
  text-transform: capitalize;
  letter-spacing: 0.06em;
}


@mixin h3-style-docs() {
  background-color: lightslategray;
  //color: rgba($primary-color, 0.65);
  color: whitesmoke;
  display: inline;
  margin: 0;
  padding: 2px 8px;
  font-family: 'montserratregular', 'helvetica', sans-serif;
  font-size: responsive 13px 14px;
  font-weight: normal;
  text-transform: capitalize;
  letter-spacing: 0.06em;
  //border-radius: 3px;  
}


@mixin h3-search-results() {
  background-color: rgba($primary-color, 0.5);
  color: whitesmoke;
  display: block;
  margin-bottom: 20px;
  font-size: responsive 14px 16px;
  text-transform: initial;
}


@mixin account-subheads() {
  color: $highlight-color;
  position: relative;
  margin: 40px 0 25px 0;
  padding-left: 30px;
  font-family: 'montserratregular' sans-serif;
  font-size: 20px;
  
  &:before {
    background-color: rgba($highlight-color, 0.4);
    content: ' ';
    position: absolute;
    top: 50%;
    left: 0;
    width: 18px;
    height: 18px;
    transform: translateY(-50%);          
  }
}


@mixin account-subheads-small() {
  @include account-subheads();
  padding-left: 25px;
  font-size: 16px;
  
  &:before {
    width: 14px;
    height: 14px;
  }
}


@mixin user-key-title() {
  background-color: transparent;
  color: rgba($primary-color, 0.6);
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
  padding-left: 15px;
  font-family: 'montserratregular' sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  text-transform: initial;
  
  &:before {
    //background-color: rgba($primary-color, 0.4);
    content: '»';
    position: absolute;
    top: 50%;
    left: 0;
    //width: 18px;
    //height: 18px;
    transform: translateY(-50%);
  }
}


@mixin user-key-title-small() {
  @include user-key-title();
  font-size: 14px;
}
