@mixin h1-style() {
  //color: $highlight-color;
  //margin-bottom: 20px;
  font-family: 'montserratregular', 'helvetica', sans-serif;
  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}


@mixin h1-style-small() {
  @include h1-style();
  font-size: 20px;
}


@mixin h2-style() {
  @include h1-style();
  font-size: 22px;
}


@mixin h2-style-small() {
  @include h2-style();
  font-size: 18px;
}


@mixin h2-style-docs() {
  //background-color: silver;
  color: rgba($primary-color, 0.5);
  padding: 4px 0 8px 0;
  font-size: responsive 16px 18px;
  text-transform: capitalize;
  letter-spacing: 0.06em;
}


@mixin h3-style-docs() {
  background-color: lightslategray;
  //color: rgba($primary-color, 0.65);
  color: whitesmoke;
  display: inline;
  margin: 0;
  padding: 2px 8px;
  font-family: 'montserratregular', 'helvetica', sans-serif;
  font-size: responsive 13px 14px;
  font-weight: normal;
  text-transform: capitalize;
  letter-spacing: 0.06em;
  //border-radius: 3px;  
}

