#hamburger--icon {
  //background-color: paleturquoise;
  position: fixed !important;
  top: 32px;
  left: 30px;
  width: 46px;
  height: 46px;
  //margin: 32px 30px;
  cursor: pointer;
  z-index: 2;
  transform: rotate(0deg);
  transition: .4s ease-in-out;
  
  span {
    background-color: whitesmoke;
    //display: block;
    position: absolute;
    left: 0;
    height: 6px;
    width: 100%;
    border-radius: 6px;
    opacity: 1;
    transform: rotate(0deg);
    transition: .25s ease-in-out;    
  }
}

#hamburger--icon span:nth-child(1) {
  top: 0;
}

#hamburger--icon span:nth-child(2), #hamburger--icon span:nth-child(3) {
  top: 14px;
}

#hamburger--icon span:nth-child(4) {
  top: 28px;
}

#hamburger--icon.open span:nth-child(1) {
  top: 14px;
  width: 0%;
  left: 50%;
}

#hamburger--icon.open span:nth-child(2) {
  transform: rotate(45deg);
}

#hamburger--icon.open span:nth-child(3) {
  transform: rotate(-45deg);
}

#hamburger--icon.open span:nth-child(4) {
  top: 14px;
  width: 0%;
  left: 50%;
}

#hamburger--icon:hover > span {
  background-color: $highlight-color;
}




//Media queries - Mobile Layout: 320px
@media only screen and (max-width: 767px) {
  #hamburger--icon {
    top: 25px;
    left: 15px;
    width: 36px;
    //margin: 25px 15px;
    
    span {
      //height: 4px;
    }
  }
  
  #hamburger--icon span:nth-child(2), #hamburger--icon span:nth-child(3) {
    top: 12px;
  }
  
  #hamburger--icon span:nth-child(4) {
    top: 24px;
  }
}
