.loader--circle {
  //background-color: plum;
  position: relative;
  width: 60px;
  height: 60px;
  margin: calc(50vh - 60px) auto;
  
  div {
    background-color: lightslategray;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.4;
    animation: circlebounce 2.0s infinite ease-in-out;
  }
  
  div:nth-child(1) {
    animation-delay: -1.0s;
  }
  
  @keyframes circlebounce {
    0%, 100% {
      transform: scale(0.0);
    }
    
    50% {
      transform: scale(1.0);
    }
  }
  
  p {
    //background-color: lightcoral;
    position: absolute;
    display: block;
    margin-top: 70px;
  }
}


.loader--results {
  //background-color: plum;
  margin: 100px auto 0;
  width: 100px;
  text-align: center;
  
  div {
    background-color: rgba($primary-color, 0.4);
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    animation: loader-results 1.4s infinite ease-in-out both;
  }
  
  .circle1 {
    animation-delay: -0.32s;
  }
  
  .circle2 {
    animation-delay: -0.16s;
  }
  
  @keyframes loader-results {
    0%, 80%, 100% {
      opacity: 0.1;
      transform: scale(0);
    }
    
    40% {
      opacity: 1;
      transform: scale(1.0);
    }
  }
}