.scroll--top--container {
  //background-color: thistle;
  position: fixed;
  display: block;
  bottom: 0;
  left: calc(100% - 110px);
  width: 80px;
  height: 40px;
  text-align: center;
  border-radius: 3px 3px 0 0;
  z-index: 1;
  
  
  #scroll--top {
    //background-color: khaki;
    color: $primary-color;
    display: inline-block;
    position: relative;
    //width: 40px;
    font-size: 24px;
    transition: .4s ease;
    
    &:hover {
      color: $highlight-color;
      transform: translateY(-10px);
    }
    
    &:hover:before {
      //background-color: cadetblue;
      content: 'top';
      display: block;
      position: absolute;
      bottom: -12px;
      //width: 40px;
      font-size: 14px;
      margin: 0 auto;
    }
    
/*
    &:hover:after {
      background-color: lightslategray;
      content: ' ';
      display: block;
      position: absolute;
      top: 0;
      left: 0;      
      width: 40px;
      height: 40px;
      border-radius: 50%;
      z-index: -1;
    }
*/
  }  
}




//Media queries - Mobile Layout: 320px
@media only screen and (max-width: 767px) {
  .scroll--top--container {
    left: calc(50% - 40px);
  }
}




//Media queries - Desktop Layout: 1220px
@media only screen and (min-width: 1024px) {
  .scroll--top--container {
    left: calc(100% - 110px);
  }
}
