.price__table__wrapper {
  margin-top: 40px;
  font-size: responsive 13px 15px;
  //border-left: 1px solid silver;
  //border-top: 1px solid silver;
  
  .price__table__content {
    //background-color: rgba($highlight-color, 0.1);
    
    .price__table__row {
      //background-color: tan;
      display: flex;
      flex-direction: row;
      //width: 33.3333%;
      
      .price--table--heading {
        //background-color: rgba($primary-color, 0.1);
        color: $primary-color;
        font-family: 'domineregular', 'georgia', serif;
      }
      
      .price--table--cell {
        display: flex;
        align-items: center;
        width: 25%;
        padding: 20px 10px;
        border-right: 1px solid silver;
        border-bottom: 1px solid silver;
      }
      
      #empty--cell {
        //background-color: rgba($primary-color, 0.1);
        width: 20%;
        border: none;
        border-right: 1px solid silver;
        border-bottom: 1px solid silver;
      }
      
      .bottom--row {
        //background-color: rosybrown;
        //border-bottom: none;
      }
      
      .final--column {
        border-right: none;
      }
      
      .table--heading--col {
        //background-color: lightcoral;
        width: 20%;
      }
    }
  }
}

.checkmark {
  //background-color: azure;
  position: relative;
  //margin-left: calc(50% - 12px);
  //margin: 0 6px 0 0;
  margin: auto;
  
  &:after {
    content: ' ';
    position: absolute;
    display: block;
    top: 3px;
    left: 7px;
    width: 7px;
    height: 14px;
    border: solid whitesmoke;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  
  &:before {
    background-color: $highlight-color;
    content: '';
    //position: absolute;
    display: block;    
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    border-radius: 22px;
  }
}


.crossmark {
  background-color: $highlight-color;
  display: inline-block;
  width: 22px;
  height: 22px;
  position: relative;
  border: none;
  border-radius: 22px;
  margin: auto;
  
  &:before {
    background-color: whitesmoke;
    display: inline-block;
    width: 16px;
    height: 3px;
    position: absolute;
    content: ' ';
    top: 9px;
    left: 3px;
    border: none;
    transform: rotateZ(45deg)   ;
  }
  
  &:after {
    background-color: whitesmoke;
    display: inline-block;
    width: 16px;
    height: 3px;
    position: absolute;
    content: ' ';
    top: 9px;
    left: 3px;
    border: none;
    transform: rotateZ(-45deg)   ;
  }  
}




//Media queries - Tablet Layout: 768px

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .price__table__wrapper {
    
    .price__table__content {
      
      .price__table__row {
        
        .price--table--cell {
          padding: 10px;
        }
      }
    }
  }  
}





//Media queries - Mobile Layout: 320px
@media only screen and (max-width: 767px) {
  .price__table__wrapper {
    font-size: 11px;
    
    .price__table__content {
      
      .price__table__row {
        
        .price--table--cell {
          width: 25%;
          padding: 5px;
        }
        
/*
        .clause {
          font-size: 9px;
          //text-align: center;
        }
*/
        
        #empty--cell {
          width: 25%;
        }
      }
    }
  }
  
  .checkmark {
    //margin: 0 4px 0 0;
    
    &:after {
      top: 2px;
      left: 5px;
      width: 6px;
      height: 11px;
    }
    
    &:before {
      width: 16px;
      height: 16px;
      border-radius: 16px;
    }
  }  
}
