.price__table__wrapper {
  margin-top: 40px;
  font-size: responsive 13px 15px;
  
  .price__table__content {
    //background-color: rgba($highlight-color, 0.1);
    
    .price__table__row {
      //background-color: whitesmoke;
      display: flex;
      flex-direction: row;
      
      .price--table--heading {
        //background-color: rgba($primary-color, 0.1);
        color: $primary-color;
        font-family: 'domineregular', 'georgia', serif;
        justify-content: center;
      }
      
      .price--table--cell {
        display: flex;
        align-items: center;
        width: 35%;
        padding: 20px 10px;
        border-right: 1px solid silver;
        border-bottom: 1px solid silver;
        justify-content: center;
        text-align: center;
        
        sup {
          font-family: 'domineregular', 'georgia', serif;
          font-size: 8px;
          margin: -10px 0 0 3px;
        }
      }
      
      #empty--cell {
        //background-color: rgba($primary-color, 0.1);
        width: 20%;
        border: none;
        //border-top: 1px solid silver;
        border-right: 1px solid silver;
        border-bottom: 1px solid silver;
      }
      
      .top--row {
        font-size: responsive 16px 18px;
        //border-top: 1px solid silver;
      }
      
      .bottom--row {
        //background-color: rosybrown;
        //border-bottom: none;
      }
      
      .final--column {
        border-right: none;
      }
      
      .table--heading--col {
        //background-color: lightcoral;
        width: 20%;
        justify-content: flex-start;
        text-align: left;
      }
    }
  }
}

.checkmark {
  //background-color: azure;
  position: relative;
  
  &:after {
    content: ' ';
    position: absolute;
    display: block;
    top: -10px;
    left: -8px;
    width: 8px;
    height: 16px;
    border: solid $highlight-color;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
}

.pricing--clauses {
  margin-top: 20px;
  
  p {
    display: block;
    float: left;
    margin: 0 20px 0 0;
    font-family: 'domineregular', 'georgia', serif;
    font-size: responsive 10px 12px;
  }
}

.crossmark {
  //background-color: $highlight-color;
  background-color: transparent;
  display: inline-block;
  width: 22px;
  height: 22px;
  position: relative;
  border: none;
  //border-radius: 22px;
  margin: auto;
  
  &:before {
    background-color: $highlight-color;
    display: inline-block;
    width: 16px;
    height: 3px;
    position: absolute;
    content: ' ';
    top: 9px;
    left: 3px;
    border: none;
    transform: rotateZ(45deg)   ;
  }
  
  &:after {
    background-color: $highlight-color;
    display: inline-block;
    width: 16px;
    height: 3px;
    position: absolute;
    content: ' ';
    top: 9px;
    left: 3px;
    border: none;
    transform: rotateZ(-45deg)   ;
  }  
}

.premium--pricing--section {
  //background-color: rgba($highlight-color, 0.2);
  display: block;
  width: 90%;
  margin-top: 30px;
  //padding: 30px;
  clear: fix;
  
  .premium--intro {
    color: $primary-color;
    padding: 0 0 20px 0;
    font-family: 'domineregular', 'georgia', serif;
    font-size: responsive 16px 18px;
    border-bottom: 1px solid silver;
  }
  
  #premium--byline {
    margin-bottom: 30px;
  }
  
  ul.premium--benefits--list {
    float: left;
    width: 55%;
    margin-right: 5%;
    font-family: 'domineregular', 'georgia', serif;
    font-size: responsive 13px 15px;
    
    li {
      //background-color: pink;
      position: relative;
      display: block;
      height: 30px;
      margin-bottom: 15px;
      padding-left: 45px;
      //border-bottom: 1px solid silver;
    }
    
    li:before {
      content: ' ';
      position: absolute;
      display: block;
      top: -4px;
      left: 8px;
      width: 8px;
      height: 16px;
      border: solid $highlight-color;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }    
  }
  
  .get--premium {
    background-color: rgba(cornflowerblue, 0.15);;
    //background-color: rgba($highlight-color, 0.2);
    display: block;
    float: right;
    width: 40%;
    margin-top: 50px;
    padding: 5px 20px;
    text-align: center;
    
    p {
      font-family: 'montserratregular', 'helvetica', sans-serif;
    }
    
    button {
      margin: 10px 0 20px 0;
    }
  }
}




//Media queries - Tablet Layout: 768px

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .price__table__wrapper {
    
    .price__table__content {
      
      .price__table__row {
        
        .price--table--cell {
          width: 40%;
          //padding: 10px;
        }
        
        #empty--cell {
          width: 22%;
        }
        
        .table--heading--col {
          width: 22%;
        }
      }
    }
  }
  
  .premium--pricing--section {
    //background-color: azure;
    width: 100%;
    
    ul.premium--benefits--list {
      
      li {
        padding-left: 35px;
      }
    }
  } 
}





//Media queries - Mobile Layout: 320px
@media only screen and (max-width: 767px) {
  .price__table__wrapper {
    font-size: 11px;
    
    .price__table__content {
      
      .price__table__row {
        
        .price--table--cell {
          width: 37.5%;
          height: 50px;
          padding: 0 10px;
        }
        
        #empty--cell {
          width: 25%;
        }
        
        .table--heading--col {
          width: 25%;
        }
      }
    }
  }
  
  .premium--pricing--section {
    width: 100%;
    
    ul.premium--benefits--list {
      width: 100%;
    }
    
    .get--premium {
      float: left;
      width: 100%;
      margin: 15px 0 0 0;
    }
  }
}




//Media queries - narrow Desktop view: 1600px wide
@media only screen and (min-width: 1024px) and (max-width: 1600px) and (max-height: 1280px) {
  .price__table__wrapper {
    
    .price__table__content {
      
      .price__table__row {
        
        .price--table--cell {
          width: 37.5%;
        }
        
        #empty--cell {
          width: 25%;
        }
        
        .table--heading--col {
          width: 25%;
        }
      }
    }
  }
  
  .premium--pricing--section {
    //background-color: lightsalmon;
    width: 100%;
    
    ul.premium--benefits--list {
      width: 100%;
    }
    
    .get--premium {
      float: left;
      width: 100%;
      margin: 15px 0 0 0;
      padding: 5px 40px;
    }
  }
}
