.price__table__wrapper {
  margin-top: 40px;
  font-size: responsive 13px 15px;
  //border-left: 1px solid silver;
  //border-top: 1px solid silver;
  
  .price__table__content {
    //background-color: rgba($highlight-color, 0.1);
    
    .price__table__row {
      //background-color: tan;
      display: flex;
      flex-direction: row;
      //width: 33.3333%;
      
      .price--table--heading {
        //background-color: rgba($primary-color, 0.1);
        color: $primary-color;
        font-family: 'domineregular', 'georgia', serif;
      }
      
      .price--table--cell {
        //width: 33.3333%;
        width: 25%;
        padding: 20px 10px;
        border-right: 1px solid silver;
        border-bottom: 1px solid silver;
      }
      
      #empty--cell {
        //background-color: rgba($primary-color, 0.1);
        width: 20%;
        border: none;
        border-right: 1px solid silver;
        border-bottom: 1px solid silver;
      }
      
      .bottom--row {
        //background-color: rosybrown;
        //border-bottom: none;
      }
      
      .final--column {
        border-right: none;
      }
      
      .table--heading--col {
        //background-color: lightcoral;
        width: 20%;
      }
    }
  }
}




//Media queries - Tablet Layout: 768px

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .price__table__wrapper {
    
    .price__table__content {
      
      .price__table__row {
        
        .price--table--cell {
          padding: 10px;
        }
      }
    }
  }
}





//Media queries - Mobile Layout: 320px
@media only screen and (max-width: 767px) {
  .price__table__wrapper {
    font-size: 11px;
    
    .price__table__content {
      
      .price__table__row {
        
        .price--table--cell {
          width: 25%;
          padding: 5px;
        }
        
        #empty--cell {
          width: 25%;
        }
      }
    }
  }
}
