.price__table__wrapper {
  margin-top: 40px;
  border-left: 1px solid silver;
  border-top: 1px solid silver;
  
  .price__table__content {
    //background-color: rgba($highlight-color, 0.1);
    
    .price__table__row {
      //background-color: tan;
      display: flex;
      flex-direction: row;
      //width: 33.3333%;
      
      .price--table--heading {
        //color: $highlight-color;
        font-family: 'montserratregular' sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.1em;
      }
      
      .price--table--cell {
        width: 33.3333%;
        padding: 20px;
        border-right: 1px solid silver;
        border-bottom: 1px solid silver;
      }
    }
  }
}




//Media queries - Tablet Layout: 768px

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .price__table__wrapper {
    
    .price__table__content {
      
      .price__table__row {
        
        .price--table--cell {
          padding: 10px;
        }
      }
    }
  }
}





//Media queries - Mobile Layout: 320px
@media only screen and (max-width: 767px) {
  .price__table__wrapper {
    font-size: 11px;
    
    .price__table__content {
      
      .price__table__row {
        
        .price--table--cell {
          width: 25%;
          padding: 5px;
        }
      }
    }
  }
}
