#api-_ {
    
  h3 {
    @include h3-style-docs();
  }
}

#api-Categories, #api-Events, #api-Places, #api-Search {
  //background-color: salmon;
  margin-top: 60px;
  
  h2 {
    @include h2-style-docs();
  }
}

.docs--table {
  //background-color: pink;
  font-size: 14px;
  
  thead {
    font-size: 15px;    
  }
}
