#api-_ {
    //background-color: snow;
    //padding: 30px;
    
  h3 {
    @include h3-style-docs();
  }
  
  .intro--copy {
    //background-color: lightcoral;
    margin-top: 12px;
    //font-family: 'domineregular', 'georgia', serif;
    //font-size: responsive 14px 18px;
  }
  
  p {
    margin: 2px 0 8px;
  }
}

/*
#header {
  //background-color: lightcoral;
}
*/

#api-_ > p:first-child {
    background-color: coral;
  }

#api-Categories, #api-Events, #api-Places, #api-Search {
  //background-color: salmon;
  margin-top: 60px;
  
  h2 {
    @include h2-style-docs();
  }
}

.docs--table {
  //background-color: pink;
  font-size: 14px;
  //display: block;
  
  thead {
    color: whitesmoke;
    //display: block;
    font-family: 'montserratregular', 'helvetica', sans-serif;
    font-size: 14px;
    letter-spacing: 0.06em;
    
    tr {
      
      th {
        background-color: rgba($primary-color, 0.5);
        padding: 8px;
      }
      
      th.row_field {
        //background-color: plum;
        width: 30%;
      }
      
      th.row_type {
        //background-color: indianred;
        width: 10%;
      }
      
      th.row_description {
        //background-color: lightseagreen;
        width: 60%;
      }
      
      th.row_name {
        //background-color: olive;
        width: 30%;
      }
      
      th.row_description1 {
        //background-color: magenta;
        width: 70%;
      }
    }   
  }
  
  tbody {
    //display: block;
    
    tr {
      font-size: 14px;
      
      td {
        padding: 0 8px;
        vertical-align: middle;
        border: 1px solid #e0e0e0;
        
        p {
          margin: 8px 0;
        }
      }
      
      td.code {
        //background-color: lightcoral;
        font-family: "Source Code Pro", monospace;
      }
    }
  }    
}

pre.language-html[data-type="get"]::before {
  background-color: $highlight-color;
}

pre.language-html::before {
  color: whitesmoke;
  content: 'GET';
  position: absolute;
  display: inline-block;
  top: -30px;
  left: 0;
  padding: 2px 8px;
  border-radius: 2px;
  font-family: 'montserratregular', 'helvetica', sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.1em;
}




//Media queries - Mobile Layout: 320px
@media only screen and (max-width: 767px) {
  .docs--table {
    //width: 60%;
    
    thead {
      font-size: 13px;
    }
    
    tbody {
      
      tr {
        font-size: 12px;
        
        td {
          
        }
        
        td p {
          line-height: 1.5em;
        }
        
        td p code {
          //background-color: peru;
          //font-size: 70%;
          
          .rwd-break {
            display: block;
          }
        }
      }
    }    
  }
  
  p code {
    .rwd-break {
      //background-color: tomato;
      display: block;
    }
  } 
}
