.dynamic--menu {
  //background-color: salmon;
  
  .menu--accordion {
    background-color: rgba($primary-color, 0.4);
    box-shadow: -1px 1px 1px $primary-color inset;
    
    .sub__item {
      border-bottom: 0;
      
      a {
        padding: 6px 30px;
        font-size: 12px;
        opacity: 0.6;
        
        &:hover {
          background-color: transparent;
          opacity: 1;
        }
      }
    }
    
    .sub__item:first-child {
      padding-top: 6px;
    }
    
    .sub__item:last-child {
      padding-bottom: 6px;
    }
    
    .sub__item a.selected {
      //background-color: lemonchiffon;
      opacity: 1;
    }
    
    #sub__explore:first-child {
      //background-color: pink;
      padding-top: 10px;
    }
    
    #sub__explore:last-child {
      //background-color: mistyrose;
      padding-bottom: 10px;
    }
  }
}

.dynamic--menu > a {
  position: relative;
}

.dynamic--menu > a:after {
  content: '+';
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}

.dynamic--menu.expand {
  
  .menu--accordion {
    max-height: 400px;
  }
}

.dynamic--menu.expand > a:after {
  content: '-';
}

.menu--accordion {
  max-height: 0;
  overflow: hidden;
  transition: max-height .6s ease-in-out;
}

/*
.dynamic--menu:first-child li:first-child {
  //background-color: olive;
  //padding-top: 10px !important;
}

.dynamic--menu:first-child li:last-child {
  //background-color: peru;
  //padding-bottom: 10px !important;
}
*/




//Media queries - Mobile Layout: 320px
@media only screen and (max-width: 767px) {
  .dynamic--menu .menu--accordion .sub__item a {
    padding: 4px 15px;
    font-size: 11px;
  }
  
  .sub__item:first-child {
    padding-top: 4px;
  }
  
  .sub__item:last-child {
    padding-bottom: 4px;
  }
  
  .dynamic--menu > a:after {
    right: 15px;
  }
  
  .dynamic--menu {
    
    .menu--accordion {
      
      #sub__explore:first-child {
        //background-color: pink;
        padding-top: 8px;
      }
      
      #sub__explore:last-child {
        //background-color: mistyrose;
        padding-bottom: 8px;
      }
    }
  }
}




//Media queries - Mobile - Small Portrait Layout: 380px
@media only screen and (max-height: 380px) {
  .dynamic--menu .menu--accordion .sub__item a {
    
  }
}
