.header--api--wrapper {
  background-color: $primary-color;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding-right: 30px;
  z-index: 1;
  
  .list__logo {
    //background-color: mistyrose;
    color: whitesmoke;
    position: relative;
    display: block;
    width: 140px;
    height: 100px;
    //margin: 0 auto;
    margin-left: 43.5%;
    
    h1 {
      color: whitesmoke;
      position: relative;
      top: 50%;
      padding: 0;
      text-align: right;
      transform: translateY(-50%);
    }    
  }
  
  .list__logo:before {
    //background-color: lightsalmon;
    content: '\e904';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    font-family: 'listicons';
    font-size: 5em;
    transform: translateY(-50%)
  }
  
  .list__logo:hover, .list__logo:hover h1 {
    color: $highlight-color;
  }
}

.key__area__wrapper {
  //background-color: saturate(cadetblue, 30%);
  position: fixed;
  top: 120px;
  left: 0;
  width: 100%;
  padding: 14px 30px 0 30px;
  z-index: 1;
  
  input {
    //background-color: rgba(whitesmoke, 0.4);
    background-color: #fff;
    color: darkslategray;
    width: 100%;
    height: 36px;
    padding-left: 10px;
    outline: 0;
    border: 0;
    border-radius: 0;
    //box-shadow: none;
    box-shadow: 0px 0px 16px rgba(cornflowerblue, 0.1);
    font-size: 14px;
  }
  
  ::-webkit-input-placeholder {
    color: darkslategray;
    opacity: 0.6;
  }
  
  ::-moz-placeholder {
    color: darkslategray;
    opacity: 0.6;
  }
}





//Media queries - Mobile Layout: 320px
@media only screen and (max-width: 767px) {
  .header--api--wrapper {
    height: 80px;
    padding-right: 15px;
    
    .list__logo {
      width: 120px;
      margin-left: 34%;
      
      h1 {
        @include h1-style-small();
      }
    }
    
    .list__logo:before {
      font-size: 4.5em;
    }
  }
  
  .key__area__wrapper {
    top: 95px;
    padding: 8px 15px 0 15px;
    
    input {
      //height: 30px;
    }
  } 
}




//Media queries - Desktop Layout: 1220px
@media only screen and (min-width: 1025px) {
  .header--api--wrapper {
    display: none;
    width: 75.75%;
    left: 24.25%;
    
    .list__logo {
      //margin-left: 30px;
    }
  }
  
  .key__area__wrapper {
    top: 40px;
    left: 24.25%;
    width: 75.75%;
  }  
}
