.sidebar--menu {
  //@include span(6 of 24);
  //background-color: $primary-color;
  background-color: lighten($primary-color, 5%);
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 41%;
  height: 100%;
  padding-top: 100px;
  //text-align: center;
  transform: translate3d(-100%,0,0);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  
  .main--navigation {
    //background-color: pink;
    
    .list__logo {
      position: absolute;
      display: none;
    }
    
    ul {
      font-family: 'montserratregular', 'helvetica', sans-serif;
      font-size: 14px;
      letter-spacing: 0.1em;
      
      li {
        border-bottom: 1px solid rgba(lightslategray, 0.6);
        
        a {
          color: whitesmoke;
          display: block;
          padding: 16px 30px;
          
          &:hover {
            background-color: rgba(aliceblue, 0.2);
            color: $highlight-color;
          }
        }
        
        .api__search:before {
          background-color: $highlight-color;
          content: 'GET';
          padding: 2px 6px;
          font-size: 9px;
          font-weight: bold;
          letter-spacing: 0.08em;
          border-radius: 2px;
        }
        
        .api__search:hover:before {
          background-color: whitesmoke;
        }        
      }
      
      .selected {
        //background-color: rgba(aliceblue, 0.2);
        color: $highlight-color;
      }
      
      .selected.api__search:before {
        //background-color: whitesmoke;
        color: whitesmoke
      }
      
      .selected.api__search:hover:before {
        color: $highlight-color;
      }
    }
  }
  
  .footer--container {
    //background-color: lightsalmon;
    //position: relative;
    height: 100%;
    //padding-top: 15px;
    
    ul {
      //background-color: salmon;
      background-color: rgba($primary-color, 0.4);
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      padding: 6px 0;
      font-family: 'montserratregular', 'helvetica', sans-serif;
      box-shadow: -1px 1px 1px $primary-color inset;
      
      .footer-item {
        line-height: 13px;
        border-bottom: 0;
        
        a {
          color: whitesmoke;
          display: inline;
          padding: 0px 30px;
          font-size: 9px;
          letter-spacing: 0.08em;
          opacity: 0.6;
          
          &:hover {
            background-color: transparent;
            color: $highlight-color;
            opacity: 1;
          }
        }
      }
    }
  }  
}

.show-sidebar .main--wrapper {
  transform: translate3d(41%, 0, 0);
}

.show-sidebar .sidebar--menu {
  transform: translate3d(0, 0, 0);
}  




//Media queries - Mobile Layout: 320px
@media only screen and (max-width: 767px) {  
  .sidebar--menu {
    width: 49%;
    padding-top: 80px;
    
    .main--navigation {
      //background-color: tomato;
      
      ul li > a {
        padding: 14px 15px;
        font-size: 12px;
      }
      
      ul li > .api__search:before {
        //background-color: salmon;
        font-size: 8px;
        padding: 2px 5px;
      }     
    }
    
    .footer--container {
      //background-color: goldenrod;
      
      ul {
        padding: 5px 0;
        
        .footer-item {
          //background-color: plum;
          line-height: 12px;
          
          a {
            font-size: 8px;
            padding: 0px 15px;
          }
        }
      }
    }
  }
  
  .show-sidebar .main--wrapper {
    transform: translate3d(49%, 0, 0);
  } 
}




//Media queries - Desktop Layout: 1220px
@media only screen and (min-width: 1220px) {
  .sidebar--menu {
    position: absolute;
    display: none;
  }  
}




//Media queries - Tablet (landscape width) and Mobile (portrait height) Layout: 380px height
@media only screen and (max-width: 1024px) and (max-height: 380px) {
  .sidebar--menu {
    //background-color: firebrick;
    //position: static;
    padding-top: 0;
    
    .main--navigation {
      //background-color: goldenrod;
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      max-height: 290px;
      overflow: scroll;
      
      ul li > a {
        //background-color: lightcoral;
        padding: 10px 15px;
        font-size: 11px;
      }
      
      ul li > .api__search:before {
        padding: 2px 4px;
      }
    }
    
    .footer--container {
      //background-color: pink;
      position: relative;
      //height: 80px;
      margin-top: 40px;
      
      ul {
        position: relative;
        margin-top: 40px;
        
        .footer-item {
          //background-color: tan;
        }
      }
    }
  }
}

 
