.search--results--wrapper {
  //background-color: honeydew;
  float: left;
  width: 100%;
  margin-top: 60px;
  
  h3 {
    @include h3-search-results();
  }
  
  .results--list {
    
    li {
      //background-color: indianred;
      //color: $primary-color;
      position: relative;
      display: inline-block;
      font-family: 'montserratregular', 'helvetica', sans-serif;
      font-size: responsive 14px 16px;
      
      a {
        color: $primary-color;
        
        &:hover {
          color: $highlight-color;
        }
      }
    }
    
    li:after {
      content: '»';
      position: absolute;
      right: -10px;
      font-family: 'montserratlight', 'helvetica', sans-serif;
      opacity: 0;
      transition: .2s ease-in;
    }
    
    li:hover:after {
      color: $highlight-color;
      opacity: 1;
      transform: translateX(2px);
    }
    
    li.event__list {
      //background-color: olive;
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}

/*
.event1 {
  background-color: coral;
}
*/

.place, .event1 {
  //background-color: lightseagreen;
  padding: 0;
  
/*
  button.tab {
    background-color: $primary-color;
    color: $highlight-color;
    margin-top: 10px;
    padding: 4px 10px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    letter-spacing: 0.1em;    
  }
  
  button.tab.active {
    background-color: $highlight-color;
    color: $primary-color;
  }
*/
  
  .view--feature {
    //background-color: coral;
    margin-top: 10px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 11px;
    letter-spacing: 0.1em;    
    
    .feature__button {
      background-color: $primary-color;
      color: $highlight-color;
      display: inline-block;
      padding: 4px 10px;
      cursor: pointer;
    }
    
    .feature__button.active {
      background-color: $highlight-color;
      color: $primary-color;
    }
  }
  
  .place--container {
    margin-top: 15px;
    padding-top: 15px;
    border-top:  1px solid silver;
    
    .place--details--wrapper {
      display: flex;
      flex-direction: row;
      
      .place--blurb {
        //background-color: peachpuff;
        width: 70%;
        padding-right: 15px;
        
        .api__tags {
          //background-color: plum;
          font-size: 13px;
        }
        
        .api__tags > span {
          background-color: rgba($primary-color, 0.5);
          color: whitesmoke;
          float: left;
          padding: 2px 12px;
          margin: 0 5px 5px 0;
          border-radius: 24px;
          text-transform: lowercase;
          letter-spacing: 0.01em;
        }
        
        .api__images {
          div > img {
            width: 100%;
            height: auto;
            margin-top: 15px;
          }
        }
      }
      
      .place--contact--info {
        //background-color: lightsalmon;
        width: 30%;
        padding-left: 15px;
        font-size: responsive 13px 15px;
        line-height: 1.6em;
        
        .contact__detail {
          color: $primary-color;
          font-family: 'montserratregular', 'helvetica', sans-serif;
          //font-size: 24px !important;
          margin-right: 5px;
        }
        
        li a {
          color: rgba($primary-color, 0.5);
          
          &:hover {
            color: $highlight-color;
          }
        }       
      }      
    }
    
    .upcoming--info {
      //background-color: indianred;
      display: flex;
      justify-content: flex-start;
      flex-flow: row wrap;
      margin-top: 15px;
      
      .upcoming__label {
        color: $primary-color;
        width: 100%;
        margin: 0 0 15px 0;
        font-family: 'montserratregular', 'helvetica', sans-serif;
      }
      
      li {
        width: 23%;
        //align-self: end;
        margin: 0 2.6667% 15px 0;
        padding-right: 15px;
        border-bottom: 1px solid silver;
        
        a {
          color: rgba($primary-color, 0.5);
          font-size: responsive 14px 16px;
          
          &:hover {
            color: $highlight-color;
          }          
        }
        
        p {
          //background-color: thistle;
          margin: 2px 0 14px 0;
        }
      }
      
      li:nth-child(4n+1) {
        //background-color: peru;
        margin-right: 0;
      }
    }
    
    .event--info--wrapper {
      //background-color: tan;
      margin-top: 15px;
      
      .event--item--list {
        //background-color: bisque;
        margin-bottom: 10px;
        
        .event--place--name {
          //background-color: mistyrose;
          color: $primary-color;
          padding-bottom: 5px;
          font-family: 'montserratregular', 'helvetica', sans-serif;
          font-size: responsive 14px 16px;
        }
        
        .event--list {
          //background-color: seashell;
          margin-bottom: 5px;
          //margin-right: calc(30% + 9px);
          font-size: responsive 13px 15px;
          
          label {
            //background-color: thistle;
            display: inline-block;
            width: 150px;
            //margin-right: 50px;
          }
          
          .event--times {
            background-color: rgba(silver, 0.5);
            color: dimgray;
            display: inline-block;
            //float: right;
            padding: 2px 6px;
            margin: 0 6px 0 0;
            font-family: 'montserratregular', 'helvetica', sans-serif;
            font-size: 12px;
            border-radius: 2px;
            
            .event--link a {
              //background-color: plum;
              color: cadetblue;
              padding: 2px 6px;
              margin: -2px -6px;
              border-radius: 2px;
              
              &:hover {
                background-color: rgba(cornflowerblue, 0.2); 
              }
            }
          }
        }
      }
    }
  }
  
  .json--container {
    background-color: #292b36;
    color: #ffffff;
    position: relative;
    margin: 10px 0 20px 0;
    padding: 10px;
    border-radius: 6px;
    //word-break: break-all;
    //word-wrap: break-word;
    overflow: auto;
  }
}




//Media queries - Mobile Layout: 320px
@media only screen and (max-width: 767px) {
  .search--results--wrapper {
    //background-color: khaki;
    
    .results--list {
      //background-color: plum;
      
      li {
        //background-color: coral;        
      }
      
      p {
        //background-color: lightcoral;
        margin: 2px 0 14px 0;
      }
    }
  }
  
  .place, .event1 {
    
    .place--container {
      
      .place--details--wrapper {
        flex-direction: column;
        
        .place--blurb {
          //background-color: tan;
          width: 100%;
          
          .api__tags {
            font-size: 12px;
          }
          
          .api__tags > span {
            padding: 2px 10px;
          }
        }
        
        .place--contact--info {
          //background-color: seashell;
          width: 100%;
          margin-top: 15px;
          padding-left: 0;
        }
      }
      
      .upcoming--info {
        
        .upcoming__label {
          margin: 0 0 10px 0;
        }
        
        li {
          width: 48%;
          margin: 0 4% 15px 0;
        }
        
        li:nth-child(4n+1) {
          //background-color: lightcoral;
          margin-right: 0;
        }
        
        li:nth-child(2n+1) {
          //background-color: khaki;
          margin-right: 0;
        }
      }
    }
  }
}
